*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: #eeeeee;
}

#page-wrapper {
	position: relative;
}

.button {
	background-color: #f1c40f;
	border: none;
	font-size: 1em;
}

.offer {
	border: 1px solid;
}

.offer header {
	background-color: #dddddd;
}

#header {
	position: fixed;
	top: 0;
	min-height: 75px;
	padding: 0 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #eeeeee;
}

.logo {
	width: 60vw;
}

#header-img {
	width: 300px;
}

#nav-bar {
	text-align: center;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

#nav-bar > ul {
	width: 35vw;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

#hero {
	text-align: center;
}

#hero input[type="email"] {
	display: block;
	margin: 0 auto;
	padding: 5px;
	width: 275px;
}

#hero input[type="submit"] {
	margin: 15px 0;
	padding: 0 20px;
	height: 30px;
	width: 150px;
	line-height: normal;
	font-weight: bold;
	font-size: 1em;
	
}

main {
	max-width: 1000px;
	margin: 0 auto;
}

.feature {
	display: flex;
	height: 125px;
}

#features .icon {
	display: flex;
	width: 20vw;
	align-items: center;
	justify-content: center;
	color: #ff8c00;
}

#features .text {
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#features .text > * {
	margin: 0;
}

#how-it-works {
	display: flex;
	padding: 50px 0;
	justify-content: center;
}

#pricing {
	display: flex;
	justify-content: space-around;
}

#pricing .offer {
	width: 300px;
	text-align: center;
	padding-bottom: 1em;
}

#pricing header {
	font-weight: bold;
	padding: 1em;
}

#pricing .button {
	padding: 0.5em 1em;
	width: 100px
}

#price {
	font-weight: bold;
	font-size: x-large;
}

footer {
	margin-top: 30px;
	padding: 20px;
	background-color: #dddddd;
	text-align: right;
}

footer ul {
	margin: 0;
	display: flex;
	justify-content: right;
}

footer li {
	padding: 0 1em;
}

#copyright-holder {
	margin: 5px 0 0 0;
	font-size: 0.9em;
	color: #444;
}